/* BASE STYLES */

body {
    background-image: url('../img/background.jpg');
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-top: 90px;
    vertical-align: middle;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    margin: 25px 0;
    font-weight: 700; 
    line-height: 20px;
}

/* NAV BAR STYLES */

.navbar {
    background-color: #EEC8B9;
    color: #EBB122;
    padding-bottom: 0;
    border-bottom: solid;
    border-bottom-color: #7c3f0a;
    width: 100%;
    text-align: center;
}

#navbar-title {
    font-family: 'Italiana', serif;
    font-weight: 800;
    padding: 0px;
    font-size: 30px;
    color: #E95E22 !important;
    text-align: center;
    margin-top: 20px;
}
 
#navbar-subtitle {
    border-bottom: #E95E22;
    border-bottom-style: solid;
    border-bottom-width: 20px;
}

/* PLANNER STYLES */

.col-md-2 {
    position: relative;
    width: 100%;
    padding: 0 0;
}

.col-md-9  {
    position: relative;
    width: 100%;
    padding: 0 0;
}

#plannerContainer {
    background-color: rgba(238, 200, 185, 0.658);
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 40px; 
}

.plannerRow {
    font-family: 'Open Sans', sans-serif;
    height: 60px;
    margin: 2px 2px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
}

.dailyPlan {
    font-family: 'Open Sans', sans-serif;
    color: #7c3f0a;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

input {
    background: #dbe6eb;
    border: none;
    padding-left: 12px;
}

/* TIME FIELD STYLES */

.timeField{
    background-color:#EBB122;  
    text-transform: uppercase;
    color: #7c3f0a;
    height:100%;
    width: 100%;
    text-align: center;
    border-radius: 0;
    display: inline-block;
    font-size: 14px;
    padding-top: 20px; 
  }

/* SAVE BOX STYLES */

.col-md-1 {
    position: relative;
    width: 100%;
    padding: 0 0;
}

.saveIcon {
    background-color: #EBB122;  
    color:  #dbe6eb;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
    padding-top: 25px;
}

.saveIcon:hover {
    background-color: #EEC8B9;
    color:#E95E22;
}

/* FOOTER STYLES */

.footer {
    background-color: #EEC8B9;
    color: #E95E22 !important;
    height: 45px;
    border-top: solid;
    border-top-color:  #7c3f0a;
    border-top-width: 2px;
}

.footer-text, .header-text {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #EBB122;
    padding-bottom: 15px;
}

@media (max-width: 765px)  {
    .plannerRow {
        height: 150px;
    }
    .col-md-2 {
        height: 50px;
    }

    .col-md-9  {
        height: 50px;
    }

    .col-md-1 {
        height: 50px;
    }
    .timeField{
        font-size: 16px;
        padding-top: 12px; 
      }
    
    .saveIcon {
        background-color:  #EEC8B9;  
        color: #E95E22;
        border-radius: 0px;
        width: 100%;
        height: 100%;
        text-align: center;
        display: inline-block;
        padding: 18px 0;
    }
    .saveIcon:hover {
        background-color: #EEC8B9;
        color: #7c3f0a;
    }
}
@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}
.shadowPulse {
  animation: shadow-pulse 2s infinite;
}